.center{
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 100px;
}
.center1{
    margin-top: 60px;
}
.footer{
    margin-top: 180px;
}
ion-avatar{
    height: 200px;
    width: 200px;
    margin: auto;
}
